<manifest
    package="com.example.appdemo"
    xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.GET_TASKS"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE"/>


    <application
        android:name=".UBKApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"  >
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <meta-data
            android:name="UBK_APPID"
            android:value="10000"/>
        <meta-data
            android:name="UBK_APPKEY"
            android:value="KEHTHJHJ4IWJ3I9J"/>
        <meta-data
            android:name="UBK_CHANNEL"
            android:value="Tencent"/>

        <activity
            android:name="com.feelwx.ubk.sdk.ui.component.BaseH5Activity"
            android:screenOrientation="portrait"/>
        <activity
            android:name="com.feelwx.ubk.sdk.ui.component.AdScreenActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>
        <activity
            android:name="com.feelwx.ubk.sdk.ui.component.AdDownActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent"/>
    </application>

</manifest>
